<!doctype html>
<html lang="en" ng-app="imaginationKick">
<head>
    <meta charset="utf-8">
    <title>Imagination kick</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/imaginationKick/main.js"></script>
    <script src="js/imaginationKick/resource/cardFactory.js"></script>
    <script src="js/tagFolders/main.js"></script>

    <script src="js/imgUtils/main.js"></script>
    <script src="js/imgUtils/directives/errSrc.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div id="header">
        <!-- TODO: Impliment some site header -->
    </div>
    <div id="content" ng-controller="mainController">
        {{tagCount | json}}
        <div ng-repeat="card in cardList">
            <div class="cardContainer">
                <span ng-repeat='tag in card.tagList'>
                    <b ng-if='!$last'>{{tag}}, </b>
                    <b ng-if='$last'>{{tag}}</b>
                </span>
                <br/>
                <img id="image" ng-src='{{card.img}}' err-src='img/No_Image.png'/><br/>
            </div>
        </div>
    </div>
</body>
</html>
